@font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
    font-style: normal;
    font-weight: bold;
    src: local(Yu Gothic), local(MS Gothic);
}
/* 一般粗細的時候改回微軟正黑 */
@font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
    font-style: normal;
    font-weight: normal;
    src: local(微軟正黑體);
}

@mixin fontSetting($FONT-SIZE:$font-size, $WEIGHT:normal) {
    font-size: $FONT-SIZE;
    font-weight: $WEIGHT;
    color: $color-word;
}

@mixin aSetting($COLOR:$aColor, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
    &:hover,
    &:focus {
        color: $aHover;
        cursor: pointer;
    }
}

body {
    @include fontSetting(1em);
    line-height: 1.45em;
    font-family: $font-family;
    -webkit-text-size-adjust: none;
    color: #222;
    @media print {
        font-size: .75em;
    }
}

a {
    @include aSetting();
}
h3, 
.heading-3{
    font-size:1.125em;
    font-weight: bold;
}
.small-fontsize {
    font-size: .938em;
}

.large-fontsize {
    font-size: 1.125em;
}