@media print {
    body {
        background: transparent;
    }
    header,
    .fatfooter,
    footer,
    .accesskey {
        display: none;
    }
    .main_menu {
        display: none;
    }
    .innerpage {
        background: none;
        @include gutter(0);
    }
    .cp {
        @include gutter(0);
        img {
            float: left;
            width: 40%;
            margin: 0px 1em 1em 0;
           &.float_left,.float_right {
           	max-width:220px;
           }
        }
    }
    .function,
    .share {
        display: none;
    }
    .re_layout {
        display: none;
        opacity: 0;
    }
    .content {
        box-shadow: none;
    }
}