.qp{
	margin: 1em auto;
	@include box-sizing;
	padding:1em;

}
	.q_title{
		background:$primaryColor;
		color:#FFF;
		@include border-radius(6px);
		padding:1em;
		font-size:1em;
		color:#FFF;
		margin:.5em 0;
	}
	.q_content{
		background:#FAFAFA;
		padding:1em;
		margin:.5em 0;
		@include border-radius(6px);
		table{
			background:#FFF;
		}
		h3,h4{
			color:$color-blue;
		}
	}