.menu {
    @include box-sizing;
    margin: 0 auto;
    min-height: 2.5em;
    position: relative;
    z-index: 99; // 預設選單 ul
    clear: both;
    @include screen('tablet') {
        padding: 0;
        display:none;
    }
    // &:before {
    //     height: 1px;
    //     background: #CCC;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     width: 100%;
    //     content: "";
    //     @include screen('tablet') {
    //         display: none;
    //     }
    // }
    >ul {
        text-align: center;
        margin: 0;
        padding: 0; // 第一層選單樣式
        @include screen('notebook') {
            text-align: left;
        }
        >li {
            display: inline-block;
            vertical-align: top;
            min-width: 8em;
            >a {
                display: block;
                padding: 0 1em;
                height: 2.5em;
                text-align: left;
                font-weight: bold;
                line-height: 2.5em;
                border-bottom: 1px solid RGBA(255, 255, 255, 0.4);
            }
            &.hasChild {
                >a {
                    &:after {
                        @extend %arrow;
                    }
                }
            }
        }
        ul {
            display: none;
            overflow: visible;
            width: 200px;
            background: darken($primaryColor,10);
            padding: 0;
            z-index: 999999;
            position: absolute;
            top: auto;
            list-style: none;
            text-align: left;
            animation: showMenu .3s ease-out;
            ul {
                top: 0;
                left: 170px;
                animation:none;
            }
        }
    } // 預設選單 li
    li {
        position: relative;
        a {
            display: block;
            outline: none;
            text-decoration: none;
        } // 第二層選單樣式
        li {
            float: none;
            a {
                padding: .5em 1.2em;
                color: #FFF;
                &:hover,
                &:focus-visible {
                    background: $primaryColor;
                }
            }
        }
        li.hasChild {
            >ul {
                z-index: 999;
            }
            >a {
                padding-right: 2em;
                &:hover,
                &:focus-visible {
                    background: $primaryColor;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 10px;
                    top: 1.3em;
                    width: 6px;
                    height: 6px;
                    border: 2px solid #FFF;
                    transform: rotate(45deg);
                    border-bottom: none;
                    border-left: none;
                }
            }
        }
    }
}

////////////////////////////////////////////////////// 行動版選單
// 行動版選單
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    display: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    @include box-sizing;
    >.menu_overlay {
        background: RGBA(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
        display: none;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    .m_area {
        &:before {
            content: "";
            width: 280px;
            position: absolute;
            top: 0;
            left: 0;
            color: #FFF;
            width: 100%;
            height: 3em;
            background: $primaryColor;
            padding: 0 1em;
            line-height: 3em;
            @include box-sizing;
        }
        margin-left: -280px;
        width:280px;
        padding-top: 3em;
        position:absolute;
        top: 0;
        left: 0;
        padding-bottom: 3em;
        height: 100%;
        background: $primaryColor;
        overflow:hidden;
        overflow-y: auto;
        z-index: 9999;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        @include box-sizing;
    }
    .m_area {
        .menu {
            width: 100%;
            @include box-shadow(0px 0px 4px RGBA(0, 0, 0, .4));
            margin-bottom: 1em;
            background: #CCC;
            display: block;
            li {
                display: block;
                float: none;
                width: 100%;
                ul {
                    background: #FFF;
                }
                >a {
                    padding: .5em 1em;
                    background: #FFF;
                    line-height: 2em;
                    min-height: 2em;
                    height:auto;
                    border-bottom: 1px solid #CCC;
                }
                &.hasChild {
                    >a {
                        padding: .5em 1em !important;
                        color: #222;
                        background: #FFF;
                        line-height: 2em;
                        min-height: 2em;
                        padding-right: 36px;
                        position: relative; // text-shadow: 1px 1px 2px RGBA(0, 0, 0, .7);
                        &:after {
                            content: '';
                            position: absolute;
                            right: 16px;
                            top: 1.2em;
                            width: 5px;
                            line-height: 1.25em;
                            height: 5px;
                            border: 2px solid #222;
                            transform: rotate(45deg);
                            border-top: none;
                            border-left: none;
                            transition: .3s;
                        }
                    }
                }
                li {
                    background: #FFF;
                    a {
                        padding: .7em 1em .7em 2em !important;
                        background: rgba(0, 0, 0, .05);
                        &:hover,
                        &:focus-visible {
                            color: #000;
                            background: rgba(0, 0, 0, .15);
                        }
                        &:after {
                            display: none;
                        }
                    }
                    &.hasChild {
                        a {
                            background: rgba(0, 0, 0, .05);
                            padding: .7em 1em .7em 2em !important;
                            line-height: 1.5em;
                            min-height: 1.5em;
                            &:hover,
                            &:focus-visible {
                                background: rgba(0, 0, 0, .15);
                            }
                        }
                    }
                }
            }
            a {
                display: block;
                color: #333;
                text-decoration: none;
                transition: .4s;
            }
        }
        .font-size {
            display: none;
        }
    }
    .menu ul {
        ul {
            display: none;
            width: 100%;
            margin: 0 0 0 -1px;
            background: rgba(0, 0, 0, .09);
            font-size: .938em;
            position: relative;
            a {
                padding-left: 2em;
            }
            ul {
                display: none;
                left: 0;
            }
        }
    }
    .navigation {
        position: relative;
        display: block;
        text-align: left;
        padding: 0 0 0 15px;
        width:90%;
        // margin-bottom: 70px;
        // outline:1px solid red;
        // nav
        ul {
            float: none;
            width: 90%;
            margin: 1em auto;
            padding: 0;
            overflow: hidden;
            list-style: none;
            border: 1px solid rgba(255, 255, 255, .5);
            border-bottom: none;
            border-right: none;
        }
        li {
            // float: left;
            // width: 50%;
            margin: 0;
            padding: 0;
            float: none;
            @include box-sizing;
            // &:nth-child(odd):last-child {
            //     width: 100%;
            // }
            a {
                display: block;
                height: 3em;
                line-height: 2em;
                padding: .5em 1em;
                font-size: .938em;
                color: #FFF;
                font-weight: bold;
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, .5);
                @include box-sizing;
                &:nth-child(odd) {
                    border-left: none;
                    border-top: none;
                }
                &:hover {
                    background: darken($primaryColor, 20);
                }
                &:focus-visible {
                    background: darken($primaryColor, 20);
                }
            }
        }
    }
    button.sidebarClose {
        position: absolute;
        display: block;
        width: 3em !important;
        height: 3em !important;
        padding: 0;
        min-width: auto;
        top: 0px;
        right: 0px;
        margin: 0;
        text-indent: -9999px;
        border: none;
        background: none;
        border: none;
        &:before {
            position: absolute;
            width: 15px;
            height: 15px;
            border: 3px solid #eee;
            content: "";
            top: 15px;
            right: 10px;
            transform: rotate(45deg);
            border-right: none;
            border-top: none;
        }
        &:focus-visible{
            box-shadow: 0 0px 0px 2px $aFocusBoxline inset;
            background: $aFocusBg!important;
        }
    }
}
//animation
@keyframes showMenu {
    0% {
        left: 20px;
    }
    100% {
        left: 0px;
    }
}