    .function {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);
        @include gutter(0);
        ul {
            li {
                float: right;
            }
        }
        margin-bottom: 2em;
        clear: both;
        min-height:2.5em;
    }

    .share {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        @include gutter(0);
        ul {
            @include li-reset;
        }
        margin-bottom: 1em;
        &+.function {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);
            @include gutter(0);
            ul {
                li {
                    float: right;
                }
            }
            margin-bottom: 1em;
            height:auto;
            clear:none;
        }
    }

    .cp {
        img {
            &.float_left {
                float: left;
                max-width: 40%;
                margin: 0px 1em 1em 0;
                min-width:240px;
                @include screen('mobile') {
                    float: none;
                    width: 100%;
                    max-width:100%;
                    margin: 0px auto 1em;
                }
            }
            &.float_right {
                float: right;
                max-width: 40%;
                margin: 0px 0 1em 1em;
                @include screen('mobile') {
                    float: none;
                    width: 100%;
                     max-width:100%;
                    margin: 0px auto 1em;
                }
            }
        }

        a {
            color: $aHover;
            &:hover{
                color:lighten($aHover,10);
            }
        }
        .info {
        font-size: 0.938em;
        line-height: 1.5em;
        list-style: none;
        margin: 0 0 1em 0;
        border-left: solid 5px $secondaryColor;
        @include box-sizing;
        padding: 0.6em 1em 0.4em;
        background: #F2F2F2;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            width: 30%;
            margin-bottom: .2em;
            display: inline-block;
            vertical-align: top;
            @include screen('tablet') {
                width: 48%;
                margin-bottom: .2em;
                font-size: 0.875em;
            }
            @include screen('mobile') {
                width: 100%;
                display: block;
            }
            i{
                opacity:.5;
                margin-right:.5em;
                font-size:1em;
            }
        }
    }
    }