// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定

//-------------------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor:				#C94E08;				//主色
$secondaryColor:			#777473; 				//輔色
$lightColor:				#3bbdca;				//點綴
$linkColor:					#78cfe9;				//連結
$importantColor:			#EB0012;				//重要
// 但注意真實顏色與語意的關聯必須易於辨識

$color-blue: 				#0B7EB1;
$color-green:				#468146;
$color-orange: 				#BD5B0A;
$color-red: 				#EB0012;
$color-yellow: 				#FCC211;
$color-purple: 				#AA5AC5;
$color-gray: 				#CCC;
$color-dark: 				#333;
$color-hr:					#666;		  			 //hr顏色
$color-word:				#222;                    //一般字的顏色
// 連結顏色
$aColor:					#222;
$aHover:					#C94E08;
$aFocusBg:					#FCC211;
$aFocusTxt:					#000;
$aFocusBoxline:				#0033ff;
// 表單focus顏色
$form-focus:				#C94E08;				//表單
//-------------------------------------------------------------法務部專屬設定------//

$fatfooter-color:			#DEDEDE;				//fatfooter底色
$footer-color:				#413630;				//footer底色
$footer-btn:				rgba(0,0,0,.5);				//footer按鈕

$third-color:				#257F88; 				//3th
$fourth-color:				#52514f; 				//4th

$more:						#C94E08;				//more
$baseline:					#BBB;				//h2底線
$gotoTop:					#222;					//gotoTop
//-------------------------------------------------------------字型--------//

// 字型設定
$font-family:               Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體修正, 微軟正黑體, Arial, sans-serif;
$font-size:					1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns:              12 !default;			   //格線欄位數
$grid-gutter-width:         30px !default;			   //左右padding
$container-max:             1200px !default;		   //container最大寬

//mediaquery
$screen-lg:        			1400px !default;  	       //電腦
$screen-md:        			992px  !default;      	   //平板
$screen-sm:        			992px  !default;     	   //手機
$screen-xs:        			576px  !default;      	   //極小尺寸

//-------------------------------------------------------------客製化------//

// 圖片
$rounded-angle:             16px;					   //圖片導角









